.custom-bg-darker {
    background-color: #111111; 
}
.custom-font-size {
    font-size: 10px;
}
th {
    background-color: #111111 !important;
}
table{
    margin: 0 auto !important;
    width: 50% !important;
    text-align: center;
}
.button-delete, .button-top-info{
    display: inline-block !important;
    vertical-align:top;

}