{% extends "main_logged_in.html" %}
{% block content %}

<body>
  <div class="d-flex mt-5 justify-content-around">
    <div class="form-group col-5 me-4" data-bs-theme="dark">
      <form action="/process_password" method="post">
        <div class="form-floating mb-3">
          <input class="form-control" type="password" id="old_password" name="old_password" required> 
          <label for="old_password">Old Password:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="password" id="new_password" name="new_password" required>
          <label for="new_password">New Password:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="password" id="Confirm New Password" name="c_password" required>
          <label for="Confirm New Password">Confirm New Password:</label>
        </div>
        <p>
          <button class="btn btn-warning mt-3">Change Password</button>
        </p>
      </form>
    </div>
    <div class="col-3">
      {% with messages = get_flashed_messages(category_filter=['profile']) %}
        {% if messages %}
            <ul class="ps-4 ms-5">
                {% for message in messages %}
                    <li class="text-danger ">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
{% endblock content %}