{% extends "main_logged_in.html" %}
{% block content %}

<body>
    <div class="d-flex">
        <div class="form-group col-6 mx-auto">
            <form action="/update_account" method="post">
                <label class="mt-3" for="first_name">First Name:</label>
                <input class="form-control" type="text" id="first_name" name="first_name" value="{{user.first_name}}" required> 
        
                <label class="mt-3" for="last_name">Last Name:</label>
                <input class="form-control" type="text" id="last_name" name="last_name" value="{{user.last_name}}" required>
        
                <label class="mt-3" for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="email" value="{{user.email}}" required>
        
                <label class="mt-3" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" value="{{user.username}}" required>
                <button class="mt-3 btn btn-warning">Update</button>
            </form>
        </div>
        <div class="col-6 mt-3 p-3 ">
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                    <ul class="ps-4 ms-5">
                        {% for message in messages %}
                            <li class="text-danger text-start">{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
{% endblock content %}