{% extends "main_logged_in.html" %}
{% block content %}

<body>

  <p>{{ user.username }}</p>
  <p>{{ user.full_name() }}</p>
  <p>{{ user.email }} </p>
  <a href="/edit_account/{{user.id}}"><button>Edit Account Info</button></a>
  <form method="get" action="/delete_account/{{user.id}}"
    onsubmit="return confirm('Are you sure you want to delete your account?');">
    <button type="submit">Delete Account</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Password ID</th>
        <th>Generated Password</th>
        <th>Date Created</th>
        <!-- Add other password attributes here -->
      </tr>
    </thead>
    <tbody>
      {% for password_obj in user.generated_passwords %}
      <tr>
        <td>{{ password_obj.id }}</td>
        <td>{{ password_obj.gen_password }}</td>
        <td>{{ password_obj.created_at.strftime('%B %d, %Y')}}</td>
        <!-- Add other password attributes here -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock content %}