{% extends "main_logged_in.html" %}
{% block content %}

<body>
  <div class="col-6 mx-auto">
    <div class="mt-5">
      <p class="fs-5">Name: {{ user.full_name() }}</p>
      <p class="fs-5">Email: {{ user.email }} </p>
      <a href="/edit_account/{{user.id}}"><button class="button-top-info btn btn-outline-info">Edit Account Info</button></a>
      <form method="get" action="/delete_account/{{user.id}}"
        onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button class="btn btn-warning mt-3" type="submit">Delete Account</button>
      </form>
    </div>
    <hr class="mt-4 mb-2">
    <div>
      <table class="table table-dark table-striped col-8 mx-auto">
        <thead>
          <tr>
            <th>Date Created</th>
            <th>Generated Password</th>
            <!-- Add other password attributes here -->
          </tr>
        </thead>
        <tbody>
          {% for password_obj in user.generated_passwords %}
          <tr>
            <td>{{ password_obj.created_at.strftime('%B %d, %Y') }}</td>
            <td>{{ password_obj.gen_password }}</td>
            <!-- Add other password attributes here -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form class="text-center m-5" method="get" action="/delete_account/{{user.id}}"
          onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button type="submit" class="button-delete btn btn-outline-danger">Delete Account</button>
      </form>
    </div>
  </div>

</body>
{% endblock content %}